<!DOCTYPE html>
<html>

<head>

<title>CreepChat</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/static/style.css">

<link rel="manifest" href="/static/manifest.json">

<meta name="theme-color" content="#00ff9c">

</head>

<body>

<div class="chat-box">

<h2>creepchat</h2>

<input id="username" placeholder="username">
<button onclick="join()">Join</button>

<div id="chatHeader">Global Chat</div>

<div class="layout">

<div class="chat">

<ul id="messages"></ul>

<input id="msg" placeholder="message">
<button onclick="send()">Send</button>

</div>

<div class="users">
<h3>Online</h3>
<ul id="userlist"></ul>
</div>

</div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>

<script>

var socket = io()
var username=""
var activeUser=null

function join(){

username=document.getElementById("username").value

if(username==="") return

socket.emit("join",username)

document.getElementById("username").disabled=true

}

/* USERS LIST */

socket.on("users",function(list){

var ul=document.getElementById("userlist")
ul.innerHTML=""

list.forEach(function(u){

if(u===username) return

var li=document.createElement("li")
li.innerText=u

li.onclick=function(){

activeUser=u

document.getElementById("chatHeader").innerText="Chat with "+u

socket.emit("open_private",{target:u})

document.getElementById("messages").innerHTML=""

}

ul.appendChild(li)

})

})

/* GLOBAL MESSAGE */

socket.on("message",function(data){

if(activeUser!==null) return

var li=document.createElement("li")
li.innerHTML="<b>"+data.user+"</b>: "+data.msg

document.getElementById("messages").appendChild(li)

scrollDown()

})

/* PRIVATE MESSAGE */

socket.on("private_message",function(data){

var li=document.createElement("li")
li.innerHTML="<b>"+data.user+"</b>: "+data.msg

document.getElementById("messages").appendChild(li)

scrollDown()

})

/* HISTORY */

socket.on("history",function(history){

var box=document.getElementById("messages")

box.innerHTML=""

history.forEach(function(row){

var li=document.createElement("li")
li.innerHTML="<b>"+row[0]+"</b>: "+row[1]

box.appendChild(li)

})

scrollDown()

})

/* SEND MESSAGE */

function send(){

var msg=document.getElementById("msg").value

if(msg==="") return

if(activeUser){

socket.emit("send_private",{to:activeUser,msg:msg})

}else{

socket.emit("send_global",msg)

}

document.getElementById("msg").value=""

}

/* AUTO SCROLL */

function scrollDown(){

var box=document.getElementById("messages")
box.scrollTop=box.scrollHeight

}

if ("serviceWorker" in navigator) {
  navigator.serviceWorker.register("/static/sw.js")
}

</script>

</body>
</html>